.contact_container{
    margin-top: 1rem;
    justify-content: center;
    text-align: center
}

.contacts{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 1.5rem;
}

.contact_container .bx{
    font-size: 32px;
}

.bxs-envelope:hover{
    cursor: pointer;
}

.bxc i{
    color: hwb(234 27% 55%);
}